body {
	background-image: url('./../img/background-3.jpg');
}

.hidden {
	display: none;
}

h1 {
	text-transform: uppercase;
	font-family: 'Sniglet', cursive;
	text-align: center;
	font-size: 2.5rem;
	text-shadow: 0.1rem 0.1rem 0.1rem white;
}

figure {
	margin: 0;
	margin-right: 4%;
}

img {
	border-radius: 50%;
	max-width: 100%;
	height: auto;
}

section {
	background-color: white;
	border: 0.1rem solid #DCDCDC;
	border-radius: 0.5rem;
	width: 50%;
	margin: 0 auto;
	padding: 2rem 0;
}

section > article, .btn {
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

section > article {
	padding: 2rem 5%;
	align-items: center;
}

.btn {
	justify-content: center;
	margin: 2rem 0 1rem;
}

button {
	padding: 0.5rem 2%;
	border: 0;
	border-radius: 0.5rem;
	max-width: 15%;
	margin:0.3%;
	color: white;
	font-size: 1.3rem;
}

body > article {
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
	width: 50%;
	margin: 1rem auto;
	display: flex;
	justify-content: space-around;
	border: 0.1rem solid #DCDCDC;
	border-radius: 0.5rem;
	text-align: center;
}

#dislike-btn {
	background-color: #801515;
}

#like-btn {
	background-color: #2C8437;
}

section article div:nth-child(3){
	width: 7%;
	text-align: center;
}

a {
	color: black;
	padding: 0.5rem 10%;
	text-decoration: none;
	display: block;
	border-radius: 0.5rem;
	border: 0.05rem solid black;
}

body > article figure {
	width: 70%;
	margin: 0.5rem auto;
	font-size: 0.8rem;

}